<div class="jumbotron">
  <h1>{{ title }}</h1>
  <p>
    A simple utility to compare a Diablo 3 character to another. Easily compare gearing, stats and other information.
  </p>

  <p>
    Full source code can be found here: <a href="https://github.com/robertz/chardiff" target="_blank">https://github.com/robertz/chardiff</a>
  </p>
</div>
