<h4>{{ title }}</h4>

<p>
  For example, mordhel-1221, frosty1216-1359, or cfjedimaster-1136
</p>

<div class="error-block"></div>

<div class="permalink"></div>

<div class="row">
  <div class="col-md-6">
    <div class="col-md-4">
      <input type="text" class="form-control left" name="left-account" />
    </div>
    <div class="col-md-8">
      <button class="left-lookup btn btn-primary">Look Up</button>
    </div>

    <div class="col-md-12 player-details-left">
      <select name="left-char-list" class="form-control left"></select>
    </div>

    <div class="col-md-12 character-left"></div>
  </div>

  <div class="col-md-6">
    <div class="col-md-4">
      <input type="text" class="form-control right" name="right-account" />
    </div>
    <div class="col-md-8">
      <button class="right-lookup btn btn-primary">Look Up</button>
    </div>

    <div class="col-md-12 player-details-right">
      <select name="right-char-list" class="form-control right"></select>
    </div>

    <div class="col-md-12 character-right"></div>
  </div>

</div>
<script type="text/javascript">
  $(document).ready(function(){
    var $error = $('.error-block')
    $('.player-details-left, .player-details-right').hide();
    $(document)
      .on('click', '.left-lookup, .right-lookup', function(event){
        var inputName = $(this).hasClass('left-lookup') ? 'input[name=left-account]' : 'input[name=right-account]';
        var outputTo = $(this).hasClass('left-lookup') ? 'select[name=left-char-list]' : 'select[name=right-char-list]';
        var detailArea = $(this).hasClass('left-lookup') ? '.player-details-left' : '.player-details-right';
       $.ajax({
         url: '/api/account/' + $(inputName).val(),
         cache: false
       })
       .then(function(data){
         if(typeof data.code === 'undefined'){
           var $sel = $(outputTo);
           $sel.empty();
           $('<option />', {
             val: '',
             text: 'Select a Hero'
           })
           .appendTo($sel);
           for(var i = 0; i < data.heroes.length; i++){
             var desc = data.heroes[i].name + ' - Level ' + data.heroes[i].level + '(' + data.heroes[i].paragonLevel + ') ' + data.heroes[i].class + ' ';
             $('<option />', {
               val: data.heroes[i].id,
               text: desc
             })
             .appendTo($sel);
           };
           $(detailArea).show();
         }
         else { // Houston, we have a problem
           $('<p />', {
             class: 'bg-danger',
             text: 'That account was not found!'
           })
           .appendTo($error);
           setTimeout(function(){
             $error.children().slideUp();
           }, 5000);
           setTimeout(function(){
             $error.children().remove();
           }, 7000);
         }
       });
     }) // end of left-lookup click event
     .on('change', 'select[name=left-char-list], select[name=right-char-list]', function(event){
       var charArea = $(this).hasClass('left') ? '.character-left' : '.character-right';
       var bnetAccount = $(this).hasClass('left') ? 'input[name=left-account]' : 'input[name=right-account]';
       if($(this).val().length){
         $.ajax({
           url: '/character-info/' + $(bnetAccount).val() + '/' + $(this).val(),
           cache: false
         })
         .then(function(data){
           $(charArea).html(data);
         })
       }
       try{
         if($('select[name=left-char-list] option:selected').val().length && $('select[name=right-char-list] option:selected').val().length){
           var permalink = 'http://' + location.hostname + '/compare/';
           var tem = '<a href="{url}">{url}</a>';
           permalink += $('input[name=left-account]').val() + '/' + $('select[name=left-char-list]').val();
           permalink += '/to/';
           permalink += $('input[name=right-account]').val() + '/' + $('select[name=right-char-list]').val();
           $('.permalink').html('<strong>Permalink:</strong> ' + tem.replace(new RegExp('{url}', 'g'), permalink));
         }
         else{
           $('.permalink').html('');
         }
       }
       catch(e){
        $('.permalink').html('');
       }
     });
  })
</script>
